* {
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Helvetica Neue";
    background: #fafafa;
    padding: 10rem;
  }

  @media (max-width: 480px) {
    body {
      padding: 0;
    }
  }

  .o-combobox {
    max-width: 100px;
  }

  .o-combobox__input {
    padding: 0.5rem;
    width: 100%;
    font-size: 15px;
    -webkit-appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    text-align: left;
    background: white;
  }

  .o-combobox__input:focus {
    box-shadow: none;
    -webkit-appearance: none;
    outline: 0;
  }

  .o-date-list {

    margin-top: 0.5rem;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

  }

  .o-date-list__item {
    margin: 0;
    list-style-type: none;
    padding: 0.5rem;
    font-size: 14px;

    display: block;

    text-align: center;
    cursor: pointer;

  }

  .o-date-list__item:hover {
    opacity: 0.5;
  }

  .o-date-list__item--selected {
    background: rgba(0, 0, 0, 0.1);
  }
