.show_black{
    width: 100%;
    height: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.show{
    width: 95%;
    height: 100%;
    padding-top: 0.3rem;
    background: rgba(255, 255, 255, 1);
    margin: 0 auto;
    margin-left: 0.5rem;
    text-align: center;
    color: rgb(10, 10, 10);
}
.show option{
    text-align: center;
}
.type_black{
    width: 97%;
    height: 36.5rem;
    padding-top: 3rem;
    margin: 0 auto;
    text-align: center;
}
.type_black .type_option{
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
}

.type_black .type_option div{
    width: 30%;
    color: white;
    font-size: 1.2rem;
}

.type_black .type_option .type_code{
    width: 70%;
}

.btn_block{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: flex-end;
}

.btn_type{
    width: 20%;
    height: 100%;
    margin-right: 0.4rem;
    font-size: 1.3rem;
    text-align: center;
    border: 1px solid rgba(34, 34, 34, 0.185);
    box-shadow: 0 1px 2px rgb(95, 95, 95);
}
.btn_enter{
    background: linear-gradient(#58ccdb, #03a9be);
    color: white;
}
.btn_cancel{
    background: linear-gradient(#db9358, #be4e03);
    color: white;
}
